.vscode
*.aux
*.bcf
*.run.xml
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.auxlock
*.fls
*.fdb_latexmk
textidote.jar
report.html
tikz_fig